.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  background-color: #3f3d56;

  p {
    color: #Bebbdc;
  }
  h4{
    color: white;
    font-size: 18px;
  }
  .about-icons{
    color: white;
    margin-right: 10px;
  }
}
