.deliver-container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.collaboration-header-style {
  font-size: 40px;
  font-weight: 700 !important;
  color: #7f7bae;
  font-family: "Philosopher" !important;
  font-style: italic;
  margin-bottom: 25px;
}
.driven-header {
  color: #3f3d56;
  font-family: "roboto";
  font-weight: 700 !important;
  font-size: 30px;
}
.collaboration-container{
    display: flex;
    padding: 10px;

    h1{
        font-size: 20px;
        color: #3f3d56;
        font-weight: 700;
    }
    .benefit-icons{
        font-size: 32px;
        margin-right: 28px;
    }
 
}
.benefit-img-container{
    padding: 50px;
}